@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Title';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@media ( min-width : 992px) {
	#logo {
		margin-right: 30px;
	}
}

* {
	font-family: "Pretendard-Regular", sans-serif;
}

html, body {
  height: 100%;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}

#logo {
	font-family: "Happiness-Sans-Title", sans-serif;
	font-size: 25px;
}

.form-control:focus {
	border: 1px solid #33A1FD;
	box-shadow: none;
} 

.border-silver {
	border: 1px solid silver;
	border-radius: 10px;
}

.nav-link {
	font-weight: 500;
	color: #323232;
}

.nav-link:hover {
	color: #323232;
}

.nav-menu .nav-link {
	font-size: 18px;
}

.nav-menu .nav-link:hover {
	font-weight: bold;
	color: #33A1FD;
}

.text-main-color {
	color: #33A1FD;
}

.background-main-color {
	background-color: #33A1FD;
}

.background-color-silver {
	background-color: silver;
}

.table {
	table-layout: fixed;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pagenation a {
	padding-left: 4px;
	padding-right: 4px;
}

.notification-btn {
background: none;
  border: none;
  padding: 0;
}

.notification-btn {
  position: relative;
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 5px;
  border-radius: 50%;
  background-color: #dc3545;
  border-radius: 50%;
}