@charset "UTF-8";

.item-status {
	font-size: 14px;
	border-radius: 3px;
	color: white;
	font-weight: 500;
	padding: 3px 5px;
	margin-right: 3px;
}

.item-image {
	width: 100%;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 5%;
	text-align: center;
}

.item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item-content {
	padding-top: 15px;
} 

.item-price, .item-region, .item-view-like {
	margin-top: 3px;
}

.view-count {
	margin-right: 5px;
}

.no-list {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.item-price {
	font-weight: 600;
}